OWN_CHAT_ID = <your_own_telegram_chat_id_integer>
PRIVILEGED_USERS = [OWN_CHAT_ID, <any_other_admins>]
TOKEN = "<telegram_bot_token>"

DB = { 
    "database": "hestia",
    "host": "hestia-database",
    "user": "hestia",
    "password": "<db_user_password>",
    "port" : "5432"
}
