networks:
  hestia-network-dev:
    name: hestia-network-dev

volumes:
  hestia-database-volume-dev:
    name: hestia-database-volume-dev

services:
  hestia-bot-dev:
    container_name: hestia-bot-dev
    healthcheck:
      test: cat /proc/1/cmdline || exit 1
      start_period: 5s
    image: wtfloris/hestia-bot:dev
    networks: 
      - hestia-network-dev
    restart: unless-stopped
    volumes:
      - /root/hestia-dev/data:/data
    working_dir: /hestia

  hestia-scraper-dev:
    container_name: hestia-scraper-dev
    healthcheck:
      test: pgrep cron || exit 1
      start_period: 5s
    image: wtfloris/hestia-scraper:dev
    networks: 
      - hestia-network-dev
    restart: unless-stopped
    volumes:
      - /root/hestia-dev/data:/data
    working_dir: /scraper

  hestia-database-dev:
    container_name: hestia-database-dev
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s
    image: postgres:16
    networks: 
      - hestia-network-dev
    ports:
      - "127.0.0.1:54321:5432"
    restart: unless-stopped 
    volumes:
      - hestia-database-volume-dev:/var/lib/postgresql/data

  hestia-web:
    container_name: hestia-web-dev
    image: wtfloris/hestia-web:dev
    networks:
      - hestia-network-dev
    ports:
      - "19191:5050"
    restart: unless-stopped
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - SECRET_KEY=${SECRET_KEY}
      - BREVO_API_KEY=${BREVO_API_KEY}
      - FROM_EMAIL=${FROM_EMAIL}
      - BASE_URL=${BASE_URL}
      - LOG_FORMAT=${LOG_FORMAT:-plain}
